body{
  margin:0;
  font-family:Arial;
  background:#0b0b0f;
  color:white;
}

.navbar{
  display:flex;
  justify-content:space-between;
  padding:20px 60px;
  background:#0b0b0f;
}

.logo{
  color:#7cff4f;
  font-weight:bold;
  font-size:22px;
}

.links a{
  color:white;
  margin-left:20px;
  text-decoration:none;
}

.hero{
  padding:80px 60px;
}

.hero h1{
  font-size:48px;
}

.blog-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  padding:60px;
}

.card{
  background:#111;
  padding:20px;
  border-radius:12px;
  transition:.2s;
}

.card:hover{
  transform:translateY(-5px);
  box-shadow:0 0 20px #7cff4f33;
}
